/* ----------------------------------------------------------*/
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  padding-left: 45px;
}

*{
  font-family: 'Roboto Slab', serif;
}

#header {
  width: 100% ! important;
  left: 0px;
}

h4, h3, h2, h5{
  font-family: 'Roboto Slab', serif;
}

a {
  color: #3daba3;
}

a:active{
  font-family: 'Roboto Slab', serif;
  color: #3daba3;
  text-decoration: underline;
}

a:visited{
  color: black;
  text-decoration: underline;
}

a:hover{
  color: #3daba3;
  text-decoration: underline;
}

#home h4{
  padding-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  font-weight: 300;
  font-size: 1em;
}

#home h5{
    padding-top: 3%;
  text-align: center;

}

#home a h3{
  padding-bottom: 3%;
  margin-bottom: 0px;
  font-style: bold;
}

#home .intro p {
  padding-top: 5px;
}

#home .ftdavis.intro p {
padding-top: 13px;
}

#home .ftdavis.intro img {
  margin-bottom: -13px;
}

#stay .column {
  padding-right: 2%;
}


body {
  background-image: url(../images/slider_landscape.jpg);
  position: absolute;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  border: none;
  z-index: -999999;
  width: 100%;
}

h1 {
  font-size: 4.75rem;
  font-family: 'Roboto Slab', serif;
}

.title h3 {
  font-size: 15px;
}

.site-header {
  max-width: 960px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.site-nav li {
  display: inline;
  float: right;
  padding-left: 25px;
  list-style-type: none;
}

.site-nav ul {
  font-size: 1.25rem;
}

#header-sticky-wrapper {
  max-width: 960px;
  position: relative;
  margin: 0 auto;
  zoom: 1;
  top: 0;
  z-index: 1000;
}

#logo {
  float: left;
}

.page-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 25px 0;
  background-color: #FFFFFF;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.07);
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}

.column {
  padding: 0px;
}
.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 960px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
  zoom: 1;
}

#see .wrap, #stay .wrap, #eatdrink .wrap {
  padding-top: 25px;
}

/*#see .wrap{
  height: 900px;
}*/

/*#slideshow-container {
  height: 400px;
  overflow: hidden;
}*/



#home .alpine.intro, .marfa.intro, .ftdavis.intro  {
 padding-right: 10px;
}

/*.first { margin-top: 0 !important; margin-left: 0 !important; }
.last { 
  margin-bottom: 0 !important; 
  padding-right: 0 !important; 
}*/

.divider-heading {
  padding: 30px 0 0 0;
  border-top: 4px solid #888888;
}

.divider-border {
  background-color: #ccc;
  float: left;
  width: 100%;
  height: 1px;
  margin: 40px 0;
}

/*.trigger-button {
  float: left;
  width: 100%;
  padding: 10px 0 10px 0;
  margin-bottom: 6px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
  background: url(../images/bullet-toggle.png) no-repeat right 15px #f4f4f4;
  cursor: pointer;
}

.accordion {
  float: left;
  padding: 8px 15px 22px 15px;
}*/

.one-third {
  width: 306px;
  margin-right: 21px;
}

.one, .one-half, .two-third, .one-third, .one-fourth {
  float: left;
  position: relative;
}

/*buttons for isotope*/

/*.isotope {
  border: 1px solid #333;
}*/

/* clear fix */
/*.isotope:after {
  content: '';
  display: block;
  clear: both;
}*/

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
/*  border-radius: 7px;*/
  /*background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );*/
  color: #222;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
/*  text-shadow: 0 1px white;*/
  cursor: pointer;
  outline: 0;
}

.button:hover {
  background-color: #d0faf0;
  /*text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);*/
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #3daba3;
}

.button.is-checked {
  color: white;
/*  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);*/
}

.button:active {
  /*box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);*/
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

/*.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }*/

/*end of buttons for isotope*/

/*----- Accordion -----*/

.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
/*    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;*/
/*    background:#f7f7f7;*/
  padding-bottom: 1%;
}

.accordion p {
  font-size:.9em;
  padding-top: 20px;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:12px;
    display:inline-block;
/*    border-bottom:1px solid #1a1a1a;*/
    background:#f4f4f4;
    transition:all linear 0.15s;
    /* Type */
    font-size:1em;
    color: #3daba3;
/*    text-shadow:0px 1px 0px #1a1a1a;*/
/*    color:#fff;*/
}
 
.accordion-section-title.active, .accordion-section-title:hover {
/*    background:#4c4c4c;*/
    /* Type */
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}

/*end accordian styles*/

/* ---- .item city pages ---- */

.item-city {
  float: left;
  width: 600px;
  height: inherit;
  background: #0D8;
  border: 5px solid white;
/*  border-color: hsla(0, 0%, 0%, 0.7);*/
}

.item-city.width2 { width: 300px; }
.item-city.height2 { height: inherit; }

/* ---- .item see/eat+drink pages ---- */

.item {
/*  float: left;*/
/*  width: 600px;*/
/*  height: inherit;*/
  background:#f4f4f4;
/*  border: 5px solid white;*/
/*  border-color: hsla(0, 0%, 0%, 0.7);*/
}

/*.wrap .item-grid {
  min-height: 800px;
}*/

.item-grid ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

.item-grid li.item {
  width: 222px;
  height: 245px;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 5px;
}

.item-grid h3 {
  font-size:15px;
  font-weight: bold;
  padding-top: 10px;
  margin: 5px;
}

.item-grid h4 {
  font-size: 10px;
  font-weight: bold;
}

footer {
  background-color: #f4f4f4;
  color: #222222;
}

.site-footer .column {
  padding-right: 20px;
}

.site-footer img {
  padding-top: 10px;
  max-width: 300px;
}
