/* ----------------------------------------------------------*/

body {
  background-image: url(../images/landscape-1024x682.jpg);
  position: absolute;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  border: none;
  z-index: -999999;
  width: 100%;
}

.site-header {
  width: 960px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.site-nav li {
  display: inline;
  float: right;
  padding-left: 25px;
  list-style-type: none;
}

#logo {
  float: left;
}

.page-content {
  width: 960px;
  margin: 0 auto;
  padding: 25px 0;
  background-color: #FFFFFF;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.07);
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}

.column {
  padding: 0px;
}

.wrap {
  max-width: 960px;
  padding: 0 25px;
  margin: 0 auto;
  zoom: 1;
}

#slideshow-container {
  height: 400px;
  overflow: hidden;
}

.alpine.intro, .marfa.intro, .ftdavis.intro {
  padding-right: 25px;
}

/*.alpine.intro, .marfa.intro, .ftdavis.intro img {
  height: 183px;
}*/

.first { margin-top: 0 !important; margin-left: 0 !important; }
.last { margin-bottom: 0 !important; padding-right: 0 !important; }

/*grid css*/

.item-grid ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portfolio_thumb_holder {
  height: 157px;
  overflow: hidden;
}

.item-grid .item-info h3, .item-grid .item-info-overlay h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 17px;
  margin-bottom: 0;
}

.item-grid .item-info h4, .item-grid .item-info-overlay h4 {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}

.item-grid ul li.item {
  width: 222px;
  height: 245px;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 5px;
}

.item-grid ul li {
  float: left;
  position: relative;
/*  margin: 0 0 6px 6px;*/
  padding: 0;
  background-color: #f4f4f4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
}

.item-grid .item-info {
  padding: 15px;
  float: left;
}

/*end grid css*/

.divider-heading {
  padding: 30px 0 0 0;
  border-top: 4px solid #888888;
}

.divider-border {
  background-color: #ccc;
  float: left;
  width: 100%;
  height: 1px;
  margin: 40px 0;
}

/*.trigger-button {
  float: left;
  width: 100%;
  padding: 10px 0 10px 0;
  margin-bottom: 6px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
  background: url(../images/bullet-toggle.png) no-repeat right 15px #f4f4f4;
  cursor: pointer;
}

.accordion {
  float: left;
  padding: 8px 15px 22px 15px;
}*/

.one-third {
  width: 306px;
  margin-right: 21px;
}

.one, .one-half, .two-third, .one-third, .one-fourth {
  float: left;
  position: relative;
}

/*buttons for isotope*/

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/*end of buttons for isotope*/

/*----- Accordion -----*/

.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:#333;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
}
 
.accordion-section-title.active, .accordion-section-title:hover {
    background:#4c4c4c;
    /* Type */
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}

/*end accordian styles*/
