/* ----------------------------------------------------------*/

body {
  background-image: url(../images/landscape-1024x682.jpg);
  position: absolute;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  border: none;
  z-index: -999999;
  width: 100%;
}

.page-content {
  width: 960px;
  margin: 0 auto;
  background-color: #FFFFFF;
}