<footer class="site-footer">
  <div class="wrap">
    <h2>{{ site.title }}</h2>
    <div class="column small-6">
      <ul>
        <li>About Ranch Road Trip</li>
        <p>
          West Texas is where we like to be. Whether it's getting hitched in Marfa, taking in some tunes in Alpine or escaping from it all in Fort Davis near the family's ranch — we're always ready for a ranch road trip. 
          <img src="/images/roadtrip_couple.jpg">
        </p>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>
    <div class="column small-6">
      <a class="twitter-timeline" href="https://twitter.com/MarfaRadio" title="@MarfaRadio" data-widget-id="501257970898845696" data-chrome="nofooter noborders transparent">@MarfaRadio</a>
    </div>
    <div class="footer">
      <p class="text">{{ site.description }}</p>
    </div>
  </div>
</footer>
