<footer class="site-footer">
  <div class="wrap">
    <div class="column small-6">
      <ul>
        <li>About Ranch Road Trip</li><br>
        <p>
          Under a blanket of stars, out in the middle of West Texas is where we like to be. Whether we're getting hitched in Marfa, taking in the live music scence in Alpine or escaping from it all near Fort Davis at the family ranch — we're always ready for a ranch road trip. Thanks for visiting <a href="http://www.ranchroadtrip.com.">www.ranchroadtrip.com</a>.
          <br><br>
          <i>~ The Coffey's</i><br>
          <img src="/images/roadtrip_couple.jpg">
        </p>
        <li>
          <a href="/rewind/index.html">Rewind</a> a bit and get to know the history of the Trans-Pecos region and a little about our Coffey family.
        </li><br>
        <li><a href="/alpine/index.html">Get to know Alpine</a></li>
        <li><a href="/marfa/index.html">Get to know Marfa</a></li>
        <li><a href="/fortdavis/index.html">Get to know Fort Davis</a></li>
      </ul>
    </div>
    <div class="column small-6">
      <ul>
        <li><a href="https://twitter.com/MarfaRadio">@MarfaRadio</a></li>
      </ul>
      <a class="twitter-timeline" href="https://twitter.com/MarfaRadio" data-widget-id="501257970898845696">Tweets by @MarfaRadio</a>
    </div>
    <div class="footer column small-12">
      <p>Ranch Road Trip is a travel guide to the West Texas Trans-Pecos region. Our Austin-based Coffey family has generations of history in the region and loves sharing their favorite sights and sounds.</p>
    </div>
  </div>
</footer>
