<header class="site-header">
  <div class="wrap">
    <div id="logo">
      <a href="{{ "index.html#" | prepend: site.baseurl }}">RANCH ROAD TRIP</a>
    </div>
    <nav class="site-nav">
      <ul>
        <li>
          <a href="{{ "rewind/index.html" | prepend: site.baseurl }}">REWIND.</a>
        </li>    
        <li>
          <a href="{{ "index.html#see" | prepend: site.baseurl }}">SEE + EAT.</a>
        </li>
        <li>
          <a href="{{ "index.html#stay" | prepend: site.baseurl }}">STAY.</a>
        </li>  
      </ul>    
    </nav>  
  </div>
</header>
