<div class="row">
  <h2>
    Where to stay.
    <div class="divider-border"></div>
    <div class="clear"></div>
  </h2>    
  <div class="alpine intro first column small-12 medium-4 large-4">
    <div class="accordion">
      <a href="alpine/index.html">
        <h3>ALPINE</h3>
      </a>
      <img src="images/holland_hotel_alpine.jpg" alt="">
      <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-1">The Holland Hotel</a>       
        <div id="accordion-1" class="accordion-section-content">
          <img src="images/alpine_holland_hotel__century_bar.jpg">
          <p>
            While Paris has the Ritz and New York has the Plaza, when you’re in Alpine it’s the Holland that offers the ultimate blend of hospitality, location, and the good life. Warmly welcoming visitors since 1928, this Trost & Trost masterpiece offers an authentic slice of West Texas flavor, and also serves as the heart of the Big Bend community for local events.<br>
            <a href="http://thehollandhoteltexas.com/" target="_blank">www.thehollandhoteltexas.com</a>
          </p>
        </div><!--end .accordion-section-content-->
      </div><!--end .accordion-section-->
    </div><!--end .accordion--> 
    <div class="accordion">
      <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-2">The Maverick Inn</a>
        <div id="accordion-2" class="accordion-section-content">
          <img src="images/alpine_maverick_inn.jpg">
          <p>
            "A Roadhouse for Wanders", this unique hotel in Alpine, Texas has individually furnished guest rooms with luxury amenities including daily continental breakfast and WIFI.<br>
            <a href="http://themaverickinn.com/" target="_blank">www.themaverickinn.com</a>
          </p>
        </div><!--end .accordion-section-content-->
      </div><!--end .accordion-section-->
    </div><!--end .accordion--> 
  </div>
  <div class="marfa intro column small-12 medium-4 large-4">
    <div class="accordion">
      <a href="marfa/index.html">
          <h3>MARFA</h3>
      </a>
      <img src="images/paisano_marfa_hotel.jpg" alt="">
      <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-3">The Paisano Hotel</a>
        <div id="accordion-3" class="accordion-section-content">
          <img src="images/marfa_piasano_hotel.jpg">
          <p>
            A charming, historic hotel, the Hotel Paisano offers 41 rooms and suites, a seasonally heated pool, extensive gift shop and art gallery, GIANT memorabilia room, ballroom/conference space, fitness center, and a casual restaurant and lounge with relaxing courtyard seating.<br>
            <a href="http://hotelpaisano.com/" target="_blank">www.hotelpaisano.com</a>
          </p>
        </div><!--end .accordion-section-content-->
      </div><!--end .accordion-section-->
    </div><!--end .accordion--> 
    <div class="accordion">
      <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-4">Thunderbird Hotel</a>
        <div id="accordion-4" class="accordion-section-content">
          <img src="images/marfa_thunderbird.jpg">
          <p>The Thunderbird is everything a small hotel should be, providing privacy, hospitality and stylishness without pretension. With its pool and pale blue exterior reflecting the desert sky, a sensation of light and spaciousness pervades. Stands of native plants and cacti anchor the hotel in its environment, and a latticework of salvaged oil-field piping shades the breezeways and poolside lounge with orange honeysuckle vines. Careful landscaping, attention to detail: the Thunderbird is characterized by a wealth of inviting spaces.</p>
          <a href="https://www.thunderbirdmarfa.com/" target="_blank">www.thunderbirdmarfa.com</a>
        </div><!--end .accordion-section-content-->
      </div><!--end .accordion-section-->
    </div><!--end .accordion-->
  </div>  
  <div class="ftdavis intro last column small-12 medium-4 large-4">
    <div class="accordion">
      <a href="/fortdavis/index.html">
        <h3>FORT DAVIS</h3>
      </a>
        <img src="images/fort_davis_drugstore_hotel.jpg" alt="">
      <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-5">Harvard Inn</a>
        <div id="accordion-5" class="accordion-section-content">
          <p>An eight-room suite hotel located at 109 State Street in downtown Fort Davis. Each room offers a refrigerator, microwave, tv with dvd player, coffeepot, quality linens, pillow-top mattresses, internet access and more. Built in 2005, it is the newest hotel in town and also offers retail and office space on its lower level. Additional suite accommodations at the Harvard Lodge on the H.E. Sproul Ranch and Davis Mountain Jeep Tours can also be booked through the Hotel.</p>
          <a href="http://www.sproulranch.com/default.asp" target="_blank">www.sproulranch.com</a>
        </div><!--end .accordion-section-content-->
      </div><!--end .accordion-section-->
    </div><!--end .accordion--> 
    <div class="accordion">
      <div class="accordion-section">
        <a class="accordion-section-title" href="#accordion-6">Lympia Hotel</a>  
        <div id="accordion-6" class="accordion-section-content">
          <p>The Hotel Limpia, an historic, restored hotel built in 1912, is located in mile high Fort Davis, nestled in the scenic Davis Mountains of southwest Texas. There are 31 rooms including suites. The accommodations are fully restored with private baths, period furnishings and free Wi-Fi. The hotel setting provides a peaceful and comfortable hideaway from the busy outside world.</p>
          <a href="http://www.hotellimpia.com/" target="_blank">www.hotellimpia.com</a>
        </div><!--end .accordion-section-content-->
      </div><!--end .accordion-section-->
    </div><!--end .accordion-->
  </div>  
</div>