<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div id="home" class="page-content">
    </div>  

<!-- STAY. Section with three columns -->
    
    <section id="stay" class="page-content">
      <div class="wrap">
        <div class="section-title">
          <h1>STAY.</h1>
        </div>  
        <div class="divider-heading"></div>
        <div class="clear"></div>
        <h2>
          Where to stay.
          <div class="divider-border"></div>
          <div class="clear"></div>
        </h2>
        <div class="row">
          <div class="alpine column large-4">
                <h4>Alpine</h4>
                <p></p>
          </div>
          <div class="marfa column large-4">
                <h4>Marfa</h4>
                <p></p>
<!--                       <div class="trigger-button active">
                    <span>Thunderbird Hotel</span>
                </div>
                <div class="accordian">
                <a></a>
                The Thunderbird Hotel is a classic mid-century roadside motor court updated to reflect a comfortably minimal aesthetic. -->
          </div>  
          <div class="ftdavis column large-4">
                <h4>Fort Davis</h4>
                <p></p>
          </div> 
        </div>
      </div>
    </section>

<!-- SEE. Section with four columns -->

    <section id="see" class="page-content">
      <div class="wrap">
        <div class="section-title">
          <h1>SEE.</h1>
        </div>  
        <div class="divider-heading"></div>
        <div class="clear"></div>
<!--         <h2>
          Where to stay.
          <div class="divider-border"></div>
          <div class="clear"></div>
        </h2> -->
        <div class="row">
          <div class="see-time column large-3">1
          </div>
          <div class="see-time column large-3">2
          </div>  
          <div class="see-time column large-3">3
          </div>
          <div class="see-time column large-3">4
          </div>
          <div class="see-time column large-3">1
          </div>
          <div class="see-time column large-3">2
          </div>  
          <div class="see-time column large-3">3
          </div>
          <div class="see-time column large-3">4
          </div>
          <div class="see-time column large-3">1
          </div>
          <div class="see-time column large-3">2
          </div>  
          <div class="see-time column large-3">3
          </div>
          <div class="see-time column large-3">4
          </div>                         
        </div>
      </div>
    </section>

<!-- Eat+Drink Section. Section with four columns -->

    <section id="eatdrink" class="page-content">
      <div class="wrap">
        <div class="section-title">
          <h1>EAT + DRINK.</h1>
        </div>  
        <div class="divider-heading"></div>
        <div class="clear"></div>
<!--         <h2>
          Where to stay.
          <div class="divider-border"></div>
          <div class="clear"></div>
        </h2> -->
        <div class="row">
          <div class="see-time column large-3">1
          </div>
          <div class="see-time column large-3">2
          </div>  
          <div class="see-time column large-3">3
          </div>
          <div class="see-time column large-3">4
          </div>
          <div class="see-time column large-3">1
          </div>
          <div class="see-time column large-3">2
          </div>  
          <div class="see-time column large-3">3
          </div>
          <div class="see-time column large-3">4
          </div>
          <div class="see-time column large-3">1
          </div>
          <div class="see-time column large-3">2
          </div>  
          <div class="see-time column large-3">3
          </div>
          <div class="see-time column large-3">4
          </div>                         
        </div>
      </div>
    </section>

<!--     <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div> -->
    
<!-- Footer -->

    <section id="footer" class="page-content">
      <div class="wrap">
          {% include footer.html %}
      <div>
    </section>      

<!-- Script -->

    <script src="./js/jquery.min.js"></script>
    <script>
      $(document).ready(function(){ 
        $('.trigger-button').click(function() {
          $(".trigger-button").removeClass("active")
          $('.accordion').slideUp('normal');
          if($(this).next().is(':hidden') == true) {
            $(this).next().slideDown('normal');
            $(this).addClass("active");
           } 
         });
        $('.accordion').hide();
      });
    </script>  
    </body>
</html>